.mensagem-item {
  background: #111;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0 8px #00ffff55;
}

.btn-excluir {
  background: #ff0066;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.btn-excluir:hover {
  background: #ff3385;
}

.btn-excluir-todas {
  background: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-excluir-todas:hover {
  background: #c9302c;
}
